<div class="row">

    <div class="col-lg-offset-1 col-lg-5">

        <h2>TODOs {{backlog.getTasks().length}}</h2>

        <button>&plus; Добавить</button>
        <ul todos-list todos-source="backlog.getTasks()" on-sort="onUpdateBacklog(ids)" />

    </div>

    <div class="col-lg-offset-1 col-lg-4">

        <h2>Today {{todays.getTasks().length}}</h2>

        <button>&plus; Добавить</button>
        <ul todos-list todos-source="todays.getTasks()" on-sort="onUpdateToday(ids)"/>

    </div>

</div>