<div class="row">

    <div class="col-lg-offset-1 col-lg-5">

        <h2>TODOs {{backlog.length}}</h2>
        <button>&plus; Добавить</button>
        <ul ui-sortable="sortableOptionsBacklog" ng-model="backlog" class="task-list backlog-tasks" data-taskstate="{{states.backlog}}">
            <li id="{{task.id}}" ng-repeat="task in backlog">#{{task.id}} {{task.title}}</li>
        </ul>

    </div>

    <div class="col-lg-offset-1 col-lg-4">

        <h2>Today {{todo.length}}</h2>

        <button>&plus; Добавить</button>

        <ul ui-sortable="sortableOptionsTodo" ng-model="todo" class="task-list todo-tasks" data-taskstate="{{states.todo}}">
            <li id="{{task.id}}" ng-repeat="task in todo">#{{task.id}} {{task.title}}</li>
        </ul>

    </div>


</div>

<div ng-repeat="task in tasks">{{task | json}}</div>